<div class="tx-flipbook">

    <f:asset.script identifier="flipbook" src="EXT:flipbook/Resources/Public/JavaScript/flipbook.min.js"  />
    <f:asset.script identifier="flipbook-starter" src="EXT:flipbook/Resources/Public/JavaScript/flipbook.starter.js"  />


    <f:asset.css identifier="flipbook" href="EXT:flipbook/Resources/Public/CSS/flipbook.css" />
    <f:asset.css identifier="flipbook-font" href="EXT:flipbook/Resources/Public/CSS/flipbook-font.css" />

    <f:render section="main"/>
</div>
